<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <h1> Welcome to the puppy adoption site!</h1>
      <%= yield %>
    </div>
  </body>
</html>